body {
  padding: 0;
  margin: 0;
  border: 0;
  background: url("../IMAGES/employeemenu.jpeg");
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.banner-main {
  background: rgb(36, 33, 31);
  width: 100vw;
  height: 12vh;
  position: absolute;
  z-index: -1;
  top: -20px;
  box-shadow: 0px 0.5px 10px rgb(15, 17, 17);
}

.rev {
  width: 220px;
  height: 67px;
  position: relative;
  left: 10px;
}
.banner {
  margin-bottom: 50px;
}

.banner-main > p {
  font: bold;
  color: aliceblue;
  float: right;
  position: absolute;
  right: 30px;
  top: 45px;
}

@media screen and (max-width: 910px) {
  .banner-main {
    height: 11vh;
  }
  .banner-main > p {
    top: 40px;
  }
  .rev {
    width: 170px;
    height: 57px;
  }
}
@media screen and (max-width: 786px) {
  .banner-main {
    height: 10vh;
  }
  .rev {
    width: 150px;
    height: 48px;
  }
  .banner-main > p {
    top: 36px;
  }
}

@media screen and (max-width: 530px) {
  .banner-main {
    height: 8vh;
  }
  .rev {
    width: 110px;
    height: 37px;
  }

  .banner-main > p {
    top: 30px;
  }
}

#notshown {
  display: none;
}
#table {
  margin-left: 5vw;
  max-width: 90vw;
  margin-top: 30px;
}
#head1 {
  background: rgba(60, 70, 70, 0.514);
}

@media screen and (max-width: 653px) {
  #new-button {
    width: 40%;
  }
}

#back-button {
  position: relative;
  margin-top: 50px;
  right: 50px;
  border: 1px solid white;
  float: right;
  width: 170px;
  border-radius: 5px;
  height: 50px;
  background: #a0960d;
  box-shadow: 0px 0px 10px rgb(18, 22, 19);
  min-width: 50px;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 10vh;
  font-weight: bold;
}

#back-button:hover {
  transform: perspective(100px) translateZ(1px);
}

#sub-button {
  position: relative;
  margin-top: 10px;
  border-radius: 5px;
  min-width: 50px;
  width: 170px;
  margin-left: 10px;
}

input[type="radio"] {
  position: absolute;
  margin-top: 8px;
  left: 40vw;
}

#radio_para {
  position: absolute;
  margin-top: 30px;
  left: 40vw;
  color: black;
  font-size: larger;
  font-weight: bolder;
}

label {
  position: absolute;
  left: 42vw;
  font-size: large;
  font-weight: 500;
}

#update-button {
  position: relative;
  margin-top: 30px;
  border-radius: 5px;
  min-width: 50px;
  width: 200px;
  height: 40px;
  margin-left: 10px;
}

#notshown2 {
  margin-top: 100px;
  display: none;
}
